header {
    width: 100%;
    height: 400px;
    margin-top: -20px;
    margin-left: -8px;
    border-bottom: 2px solid rgb(201, 201, 201);
    border-bottom-style: groove;
}

header nav ul {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-weight: bold;
    font-size: 18px;
}


#about,
#portfolio,
#contact,
#search {
    display: none;
}

#burger {
    position: absolute;
    margin-top: 1rem;
    right: 25px;
}

header img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
}

.title2 {
    display: none;
}

.title1 {
    width: 50%;
    position: absolute;
    top: 150px;
    left: 80px;
    text-align: center;
    background-color: rgb(58, 55, 55);
    color: white;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}

.title3,
.subtitle {
    color: #777;
    text-align: center;
}

#nav {
    display: none;
}

.title4 {
    color: #777;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.hat {

    width: 100%;
    margin-right: 2rem;
}

.hat img {
    width: 100%;
    opacity: 0.7;
}

.text1 {
    color: #777;
}

.text2 {
    display: none;
}

.title5 {
    text-align: center;
}

.titre {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #777;
}

.skill {
    margin-bottom: 25px;
    width: 100%;
    font-family: sans-serif;
}

.label {
    display: block;
    margin-bottom: 5px;
    letter-spacing: 3px;
    color: #777;
}

progress {
    width: 100%;
    height: 20px;


    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: #eee;
    border-radius: 3px;
}

progress::-webkit-progress-value {
    background: #555;
    border-radius: 3px;
}

progress::-moz-progress-bar {
    background: #555;
}

main .stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: gray;
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(107, 104, 104);
    color: white;
}

main .stats H1 {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.stats p {
    text-align: center;
}

main .portfolio img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    opacity: 1;
}

main .portfolio p.title6 {
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    background-color: transparent;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    margin-top: 40%;
    margin-left: 25%;
}

.work {
    color: #777;
    text-align: center;
}

.container img {
    width: 100%;
}

#loadmore {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.loadmore {
    color: white;
    margin-top: 2rem;
    background-color: lightgrey;
    border: none;
    height: 40px;
}

main .contact img {
    width: 105%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

main .contact p.title8 {
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    width: 300px;
    margin-left: 10%;
    margin-top: 70%;
}

main .info p.title9 {
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    padding: 10px;
    color: gray;
}

#informations {
    color: #777;
    font-family: 'Raleway', sans-serif;
}

main .map {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}

main .map img {
    width: 90%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin-left: 5%;
    margin-top: 30px;
    border-radius: 5px;
}

main .map p {
    justify-content: left;
    display: block;
    text-align: left;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: gray;
    margin-left: 32%;
    align-items: left;
}

main form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
}

main form input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 100px;
    border: 1px solid gray;
    border-radius: 5px;
}

main form input[name="message"] {
    width: 90%;
    height: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

main form button.send.message {
    margin-top: 10px;
    border-style: hidden;
    padding: 15px;
    width: 45%;
    background-color: rgb(58, 55, 55);
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 45%;
}

footer {
    width: 98%;
    height: 200px;
    text-align: center;
    padding: 20px;
    background-color: rgb(82, 79, 79);
    color: white;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}



#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#modal img {
  max-width: 80%;
  max-height: 80%;
}

#modal .close, #modal .precedent, #modal .suivant {
  position: absolute;
  color: white;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
}

#modal .close { top: 10px; right: 20px; }
#modal .precedent { top: 50%; left: 20px; }
#modal .suivant { top: 50%; right: 20px; }



#toggle-images-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#toggle-images-btn:hover {
    background-color: #555;
}

.container.hidden {
    display: none;
}

.container_img {
    transition: transform 0.2s;
}

.container_img:hover {
    transform: scale(1.05);
}


#portfolio-sous-menu {
    display: none;
    margin-top: 20px;
    text-align: center;
}

#portfolio-sous-menu .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 900px;
    margin: 0 auto;
}

#portfolio-sous-menu .image-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

#portfolio-sous-menu .image-grid img:hover {
    transform: scale(1.05);
}

@media screen and (min-width:576px) {

    #about,
    #portfolio,
    #contact {
        display: block;
    }

    .title1 {
        display: none;
    }

    .title2 {
        display: block;
        position: relative;
        text-align: center;
        bottom: 250px;
        background-color: rgb(58, 55, 55);
        color: white;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        padding: 10px;
        width: 400px;
        margin-left: 40%;
        margin-top: 3%;
    }

    main {
        margin-top: 100px;
    }

    main div.about.me {
        width: 100%;
        height: 300px;
        background-color: rgb(255, 255, 255);
        margin-top: 100px;
        border-bottom: 2px solid rgb(201, 201, 201);
        border-bottom-style: groove;
    }

    main p.title3 {
        text-align: center;
        font-size: 25px;
        font-family: 'Raleway', sans-serif;
        margin-top: -50px;
        padding: 10px;
    }

    main p.subtitle {
        text-align: center;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        margin-top: -15px;
        color: rgb(105, 105, 105);
        font-style: italic;
    }

    main .text1 {
        width: 60%;
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        justify-content: space-between;
        text-align: left;
        font-size: 20px;
        margin-left: 20%;
        color: rgb(105, 105, 105);
    }

    #nav {
        display: flex;
    }

    main nav ul {
        list-style: none;
        display: flex;
        margin-left: 0px;
        justify-content: start;
        gap: 15px;
    }

    main nav ul li a {
        text-decoration: none;
        color: rgb(76, 68, 68);
        font-weight: bold;
        font-size: 18px;
    }

    .card {
        display: flex;
        flex-direction: column;
    }

    .bio img {
        width: 400px;
        opacity: 1.0;
    }

    .text2 {
        font-size: 20px;
        display: block;
        width: 35%;
        color: #777;
    }

    .bio {
        margin-top: 20px;
        justify-content: center;
        display: flex;
    }

    .bars {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill {
        width: 75%;
    }

    main .stats {
        display: flex;
        flex-direction: row;
    }

    main .portfolio img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        opacity: 1;
    }

    main .portfolio p.title6 {
        margin-top: 10%;
        margin-left: 41%;
    }

    .portfolio {
        margin-bottom: 40px;
    }

    main .container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .container img {
        width: 22%;
        margin-left: 20px;
    }

    main .contact img {
        width: 100%;
        opacity: 1.0;
    }

    main .contact p.title8 {
        margin-left: 40%;
        margin-top: 15%;
    }

    main .map img {
        width: 80%;
        height: 150px;
        margin-left: 15%;
        margin-top: 30px;
        border-radius: 5px;
    }

    #where{
        width: 50%;
        display: flex;
        margin-left: 20%;
    }

    #informations{
        margin-top: 100px;
    }

    main form{
        width: 68%;
    display: block;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 32%;
    position: relative;
}

main form input{
    width: 40%;
    padding:10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius:5px;
}

main form input[name="message"]{
    width: 83%;
    height: 20px;
    padding:10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius:5px;
}

main form button.send.message{
    margin-top: 10px;
    border-style:hidden;
    padding:15px;
    width: 13%;
    background-color: rgb(58, 55, 55);
    color: white;
    font-weight: bold;
    margin-top:20px;
    margin-left: 52%;
}
}
